#mainHeader {
  padding-left:10px;  
}
#mainHeader h1{
  font-family: 'Lato', sans-serif;
}

#mainMap{
  margin:auto;
}
.world {
  position: relative; 
  width: 95%; 
  height: 53.4%;
}
.zoom {
  position: fixed;
  top: 10%; 
  bottom: 10%;
  left: 10%;
  right: 10%;
}

#footer{
  position: fixed;
  bottom: 1%;
  left: 0%;
  right: 0%;
}

#countryData {
 position:absolute;
 top:0%;
 left:-5%; 
}
#countryData h2{
  margin:10px 0px;
}


.homeLink {
  color:blue;
  text-decoration:underline;
  cursor:pointer;
}

path {
  stroke: #fff;
}

circle {
  fill: #000;
  pointer-events: none;
}

.selected {
  fill: yellow;
}
.red {
  color:red;
}
.center {
  margin:auto;
  text-align:center;
}
